.pgc_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pgc_toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.pgc_gantt {
  height: calc(100% - 56px);
  min-height: 480px;
  overflow: auto;
}
